language: python
python: 
- 3.6

install:
- pip install -r requirements.txt

script:
- rm .gitignore
- jupyter nbconvert --to markdown --execute readme.ipynb
- ls **

deploy:
  local_dir: .
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
